<% layout('layouts/boilerplate') -%>
<%-include('../partials/header')%>
<%- include('../partials/navbar') %>
<%- include('../partials/flash') %>

  <div class ="row">
  
    <% for (let item of products) { %>

  <div class="col-lg-3 mt-3">
  <div class="card" style="width: 18rem;">
  <img src="<%=item.imageUrl%>" class="card-img-top" alt="...">
  <div class="card-body">
  
  <h3 class="card-title"><%=item.name%></h3>
  <span class="btn like-btn" product-id="<%=item._id%>" >
                    <% if(currentUser && currentUser.wishlist.includes(item._id)){ %>
                        <i class="fas fa-heart"></i>
                    <% } else{ %>
                        <i class="far fa-heart"></i>
                    <% } %>

                  </span>
                  <h5 class="card-title">$<%=item.price%></h5>
                  <p class="card-text"> <%=item.description %></p>
                  <p class="card-text"> <%=item.instock %></p>

                  



  <a href="/products/<%=item._id%>" class="btn btn-info">View Product</a>
  <!-- <a href="/products/<%=item._id%>/edit" class="btn btn-sm btn-dark">Add Prp</a> -->

  <% if(currentUser && currentUser.role === 'seller'){ %>
  <form class=" d-inline-block" action="/products/<%=item._id%>?_method=DELETE" method="POST">
    <button class="btn btn-sm btn-danger">Delete</button>
  </form>
  <% } %>
  </div>
  </div>
  </div>

  <% } %>



</div>
<script src="/js/common.js"></script>
<%-include('../partials/footer')%>
</body>
</html>